version: "3.8"
services:
  classifier:
    build: ./classifier
    ports:
      - "8081:8080"
  router:
    build: ./router
    ports:
      - "8080:8080"
    environment:
      - CLASSIFIER_URL=http://classifier:8080/predict
